body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #164dba;
    color: white;
    font-family: 'Arial', sans-serif;
  }

  #digital-clock {
    font-size: 15em;
  }